# Ignore the .env file (contains sensitive information)
.env

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/

# Ignore system files (e.g., macOS Finder files)
.DS_Store

# Ignore log files
*.log

# Ignore compiled Python files
*.pyc
